footer.text-center.text-md-start
  .container
    .align-items-center.d-flex.justify-content-center.flex-column.flex-md-row
      h2.me-md-5.mb-0 ЗАВАНТАЖУЙТЕ НАШІ ДОДАТКИ

      div.mt-md-0.mt-4
        a(href="#").me-4: img(src="images/button-google-play-ua.png" , alt="google-play")
        a(href="#"): img(src="images/button-appstore-ua.png" , alt="app-store")
